version: '3.7'

services:
  {{ drone_runner_service_name }}:
    image: drone/drone-runner-docker:{{ drone_runner_service_version }}
    hostname: {{ drone_runner_service_name }}
    container_name: {{ drone_runner_service_name }}
    environment:
      DRONE_RPC_HOST: {{ drone_rpc_host }}
      DRONE_RPC_PROTO: {{ drone_rpc_proto }}
      DRONE_RPC_SECRET: {{ drone_rpc_secret }}
      DRONE_RUNNER_CAPACITY: {{ drone_rpc_capacity }}
      DRONE_RUNNER_NAME: {{ drone_runner_name }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always

networks:
  default:
    name: drone
    driver: bridge
